.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background: #222; */
}

.content {
  display: flex;
  height: calc(100vh - 113px);
  margin-top: 58px;
  bottom: 0;
  width: 100%;
  /* background: plum; */
}

.content2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  background: #222;
  /* background: lightblue; */
  overflow-y: scroll;
  text-align: center;
  margin: auto;
}

.content2::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  border-radius: 20px;
  background-color: #222;
}

.content2::-webkit-scrollbar-thumb {
  background: #373737;
  z-index: 10000;
  border-radius: 20px;
}

.content2::-webkit-scrollbar-track {
  z-index: 10000;
}